# EditorConfig is awesome: https://editorconfig.org

root = true

[*]
end_of_line          = lf
insert_final_newline = true
charset              = utf-8
indent_size          = 2
indent_style         = tab
# Yes, I prefer tabs, see
# [https://dmitryfrank.com/articles/indent_with_tabs_align_with_spaces]

